body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(60, 60, 60);
}
img {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 2px 5px white;
}
hr {
  height: 3px;
  background: black;
  width: 75%;
  margin: 2% auto 2% auto;
}
.type {
  display: flex;
}
.container-f {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .icons {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 500px) {
  .icons {
    font-size: 4rem;
  }
}
.social {
  margin: 2%;
  padding: 1%;
  font-size: xx-large;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(60, 60, 60);
}
.project {
  text-decoration: none;
  margin-bottom: 2%;
}
.fa:hover {
  opacity: 0.5;
  text-decoration: none;
}
